<div id="slideshow_meta_wrap">
  <div class="container" id="slideshow_meta">
    <div class="row">
      <div class="span6" id="slideshow_nav">
        <% page = Refinery::Page.find_by_path("about") %>
        <ul>
          <% page.children.each_with_index do |child, i| %>
            <% index = i + 1 %>
            <li class="slide<%= index %> <%= "activeSlide" if @page == child %>">
              <%= link_to "", child.url %>
            </li>
          <% end if page.children %>
        </ul>
      </div>
      <div class="span6" id="caption">
        <p id="slideshow_caption"><%= @page.canonical_slug.gsub("-", " ") %></p>
      </div>
    </div>
  </div>
</div>

<% children = page.children %>
<div id="page_content_wrap">
  <div class="container" id="page_content">
    <div class="row">

      <div class="span3" id="page_nav_1">
        <ul class="page_content_nav">
          <% children[0..2].each_with_index do |child, i| %>
            <li class='<%= 'active' if @page == child %>'>
              <%= link_to child.url do %>
                <%= child.title %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="span3" id="page_nav_2">
        <ul class="page_content_nav">
          <% children[3..6].each do |child| %>
            <li class='<%= 'active' if child == @page %>'>
              <%= link_to child.url do %>
                <%= child.title %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="span6" id="page_main">
        <%=raw @page.content_for(:body) %>
      </div>
    </div>
  </div>
</div>

