<div id="slideshow_meta_wrap">
  <div class="container" id="slideshow_meta">
    <div class="row">
      <div class="span6" id="slideshow_nav">
        <% page = Refinery::Page.find_by_title("contact") %>
        <ul>
          <% page.children.each_with_index do |child, i| %>
            <% index = i + 1 %>
            <li class="slide<%= index %> <%= "activeSlide" if @page == child %>">
              <%= link_to "", "#", class: child.url %>
            </li>
          <% end if page.children %>
        </ul>
      </div>
      <div class="span6" id="caption">
        <p id="slideshow_caption"><%= @page.canonical_slug.gsub("-", " ") %></p>
      </div>
    </div>
  </div>
</div>

<% children = page.children %>
<div id="page_content_wrap">
  <div class="container" id="page_content">
    <div class="row">

      <div class="span3" id="page_nav_1">
        <ul class="page_content_nav">
          <% children[0..2].each_with_index do |child, i| %>
            <li class='<%= 'active' if @page == child %>'>
              <%= link_to child.title, refinery.page_path(child.id) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="span3" id="page_nav_2">
        <% if children[3..6].present? %>
          <ul class="page_content_nav">
            <% children[3..6].each do |child| %>
              <li class='<%= 'active' if child == @page %>'>
                <%= link_to child.title, refinery.page_path(child.id) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <% @inquiry = Refinery::Inquiries::Inquiry.new %>
      <% if @page.slug.downcase == "contact-us" or @page.slug.downcase == "contact" %>
        <div class="span6 contact_form" id="page_main">
          <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
            <%= render :partial => "/refinery/admin/error_messages",
                       :locals => {
                         :object => @inquiry,
                         :include_object_name => true
                       } %>
            <div class="form_field">
              <%= f.text_field :name, :class => 'text', id: "name", :required => 'required', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
            </div>
            <div class="form_field">
              <%= f.email_field :email, :class => 'text email', id: 'email', :required => 'required', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
            </div>
            <div class="form_field">
              <%= f.text_field :phone, :class => 'text phone', id: 'phone', :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
            </div>
            <div class="form_field">
              <%= f.text_area :message, :rows => 8, id: 'message', :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
            </div>
            <div class="form_field">
              <%= f.submit "SEND", id: 'submit' %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="span6" id="page_main">
          <%=raw @page.content_for(:side_body) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

