<div id="slideshow_meta_wrap">
  <div class="container" id="slideshow_meta">
    <div class="row">
      <div class="span6" id="slideshow_nav">
        <ul>
          <li class="slide1"></li>
        </ul>
      </div>
      <div class="span6" id="caption">
        <p id="slideshow_caption"><%= @page.canonical_slug %></p>
      </div>
    </div>
  </div>
</div>

<div id="page_content_wrap">
  <div class="container" id="page_content">
    <div class="row">
      <div class="span12" id="page_main">
        <%=raw @page.content_for(:side_body) %>
      </div>
    </div>
  </div>
</div>

