<div id="slideshow_meta_wrap">
  <div class="container" id="slideshow_meta">
    <div class="row">
      <ul class="span6" id="slideshow_nav">
        <!-- populated by javascript -->
      </ul>
      <div class="span6" id="caption">
        <p id="slideshow_caption"></p>
      </div>
    </div>
  </div>
</div>
