<% if @page.slug == "terms-and-conditions" || @page.slug == 'privacy-policy'|| @page.slug == "page-not-found" %>
  <%= render partial: "normal_show" %>
<% elsif @page.slug == "contact" || @page.try(:parent).try(:slug) == "contact" %>
  <%= render partial: "contact_show" %>
<% else %>
  <%= render partial: "about_show" %>
<% end -%>
