<div id="services_wrap">
  <div class="container" id="services">
    <div class="row">
      <div class="span3 dark-4">
        <%= link_to refinery.services_services_path do %>
          What we<br/>can do<br/>for you
        <% end %>
      </div>

      <div class="span3 dark-3">
        <%= link_to refinery.projects_projects_path do %>
          Take a<br/>look at<br/>our work
        <% end %>
      </div>

      <div class="span3 dark-2">
        <% quote = Refinery::Page.find_by_slug("request-a-quote") %>
        <% if quote %>
          <%= link_to refinery.page_path(quote.id) do %>
            Request<br/>a free<br/>quote
          <% end %>
        <% end %>
      </div>

      <div class="span3 dark-1">
        <%= link_to refinery.inquiries_new_inquiry_path do %>
          Get in<br/>touch<br/>now
        <% end %>
      </div>

    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="span5" id="footer_contact">
        <h4>Contact</h4>
        <p>027 458 5094</p>
        <p>
          <a href="mailto:info@interiorfx.co.nz" class='email_link'>info@interiorfx.co.nz</a>
        </p>
        <p>66C Magdala Place,<br/>
        Middleton, Christchurch 8024</p>
      </div>
      <div class="span2 hidden-phone" id="footer_logo">
        <%= link_to refinery.root_path do %>
          <%= image_tag(asset_path('IFX.gif')) %>
        <% end %>
      </div>
      <div class="span5" id="footer_map">
        <h4>Map</h4>
        <a target="_blank" href="https://maps.google.co.nz/maps?q=66C+Magdala+Place,+Middleton,+Christchurch+8024&ie=UTF-8&hq=&hnear=0x6d318aa1522502e3:0x72574c3a0799b4bf,66C+Magdala+Pl,+Middleton,+Christchurch+8024&gl=nz&ei=e4g_UducOaSsiAez54CgCg&ved=0CC4Q8gEwAA">
          <%= image_tag(asset_path('map.png', alt: 'map')) %>
        </a>
      </div>
    </div>
  </div>

  <div class="container" id="sub_footer">
    <div class="row">

      <%= render(:partial => "/refinery/menu", :locals => {
                   :footer_id => 'footer_nav',
                   :css => 'span5',
                   :dom_id => ''
                 }) %>

      <div class="span7 hidden-tablet hidden-phone">
        <p id="copyright">
          &copy; Interior FX Ltd&nbsp; | &nbsp;
          <% terms = Refinery::Page.find_by_title("Terms & Conditions") %>
          <% if terms %>
            <%= link_to terms.title, refinery.page_path(terms.id) %> &nbsp; | &nbsp;
            <a href="http://www.studiothompson.co/" target="_blank">
              <span>Website by</span>
              THOMPSONCo
            </a>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</footer>
