<div class="container" id="header">
  <div class="row">
    <div class="span4" id="logo">
      <%= link_to "#", refinery.root_path, id: "superlogo" %>
    </div>
    <%= render(:partial => "/refinery/menu", :locals => {
                 :dom_id => 'nav',
                 :css => 'span8'
               }) %>
  </div>
</div>

<% bad_pages = %w/projects services/ %>
<% about_page = Refinery::Page.find_by_path("about") %>

<% if @page == about_page || @page.parent == about_page %>

  <div class="container" id="sub_head">
    <div class="row">
      <div class="span5">
        <h1><%= strip_tags(about_page.content_for(:body)).upcase %></h1>
      </div>
      <div class="span6 offset1 hidden-phone" id="slideshow">
        <div>
          <% if @page.image_pages.any? %>
            <%= image_fu(@page.image_pages.first.image, '405x250', :width => nil, :height => nil) %>
          <% else %>
            <%= image_tag(asset_path('slideshow_photo.png')) %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>

<% elsif !bad_pages.include?(@page.slug) %>

  <div class="container" id="sub_head">
    <div class="row">
      <div class="span5">
        <h1><%= strip_tags(@page.content_for(:body)).upcase %></h1>
      </div>
      <div class="clearfix span6 offset1" id="slideshow">
        <div>
          <ul>
            <% if @page.slug == "home" %>
              <% image_pages = @page.image_pages %>
              <% image_pages.each_with_index do |image_page, i| %>
                <li data-caption="<%= strip_tags(image_page.caption) %>">
                  <%= image_fu(image_page.image, '405x250', :alt => image_page.image.title, :width => nil, :height => nil) %>
                </li>
              <% end %>
            <% else %>
              <% if @page.image_pages.any? %>
                <%= image_fu(@page.image_pages.first.image, '405x250', :width => nil, :height => nil) %>
                <%#= image_fu @page.image_pages.first.image %>
              <% else %>
                <%= image_tag(asset_path('slideshow_photo.png')) %>
              <% end -%>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
  </div>

<% end %>

