<head>
  <meta charset='<%= Rails.application.config.encoding %>' />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <title><%= browser_title(yield(:title)) %></title>
  <%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
  <%= raw %(<meta name="keywords" content="#{@meta.meta_keywords}">) if @meta.meta_keywords.present? -%>
  <%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
  <%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
  <%= yield :meta %>

  <%= stylesheet_link_tag "application", "formatting", "theme" %>
  <%= stylesheet_link_tag "home" if home_page? %>
  <%= yield :stylesheets %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render '/refinery/google_analytics' %>

  <link rel="icon" type="image/x-icon" href="ifxfavX2.ico" />
  <link rel="icon" type="image/x-icon" href="ifxfav.ico" />

  <%= favicon_link_tag 'ifxfavX2.ico' %>
  <%= favicon_link_tag 'ifxfav.ico' %>

  <%= javascript_include_tag 'modernizr-min' %>

</head>
