<%= yield :before_javascript_libraries -%>
<%= yield :javascript_libraries %>
<%= yield :after_javascript_libraries %>
<% if request.env['HTTP_USER_AGENT'] =~ /MSIE/ %>
  <!--[if lt IE 7 ]>
    <%= javascript_include_tag 'dd_belatedpng' %>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->
<% end %>
<%= javascript_include_tag 'application' %>
<%= yield :javascripts -%>
<script type="text/javascript">
  $(function() {
    if (window.innerWidth < 640) {
      $("#nav").insertBefore("#logo");
      $("body").addClass('mobile');
    }
  })
</script>
