<%
  if !!local_assigns[:apply_css] and (classes = menu_branch_css(local_assigns)).any?
    css = "class='#{classes.join(' ')}'".html_safe
  else
    if @page.parent.present?
      abc = 'selected' if @page.parent.slug == menu_branch.title.downcase
      css = "class='#{classes.join(' ')} #{abc}'".html_safe
    end
  end
-%>


<li<%= ['', css].compact.join(' ').gsub(/\ *$/, '').html_safe %>>
  <% if menu_branch.title.downcase == "contact" %>
    <% if menu_branch.children[0].present? %>
      <%= link_to(menu_branch.title, refinery.url_for(menu_branch.children[0].url)) -%>
    <% else %>
      <%= link_to(menu_branch.title, refinery.url_for(menu_branch.url)) -%>
    <% end %>
  <% else %>
    <%= link_to(menu_branch.title, refinery.url_for(menu_branch.url)) -%>
  <% end %>
</li>
