<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    footer_id ||= ''
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>
<div id='<%= dom_id %>' class='<%= css %>'>
  <ul id="<%= footer_id %>">

    <% if @page.parent.present? %>
      <% about_parent = @page.parent.slug == 'about' %>
    <% end %>

    <%= render :partial => '/refinery/menu_branch', :collection => roots,
               :locals => {
                 :hide_children => hide_children,
                 :sibling_count => (roots.length - 1),
                 :menu_levels => local_assigns[:menu_levels],
                 :apply_css => true
               } -%>
  </ul>
</div>
<% end -%>
