/* helpers */
/* project specific files */

img {
  max-width: 450px !important;
}

#main_project > img {
  max-width: 450px !important;
}

#superlogo {
  background: url('ifxlogo.png');
  display: block;
  width: 343px;
  height: 64px;
  text-indent: -9999px;
}

#superlogo:hover {
  background-position: 0px -64px;
}

::selection {
  color:#C27514;
}
::-moz-selection {
  color:#C27514;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #F7941E;
  -webkit-box-shadow: 0 0 6px #F7941E;
  -moz-box-shadow: 0 0 6px #F7941E;
  box-shadow: 0 0 6px #F7941E;
}

html {
  background: url("html_bg.png");
}
body {
  background: url("orange_top.png") top left repeat-x;
  padding-top: 20px;
  line-height: 1.4em;
  border-bottom: 4px solid #f7941e;
  font-family: 'gotham_bookregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header {
  padding-top: 30px;
}
#header #nav ul {
  list-style-type: none;
  text-align: right;
}
#header #nav ul li {
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  padding-top: 48px;
  margin-top: -48px;
}
#header #nav ul li a {
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3px;
  text-shadow: 3px 3px 2px #000;
}
#header #nav ul li a:hover {
  text-decoration: none;
  color: #f7941e;
}
#header #nav ul li.selected {
  text-decoration: none;
  background: url("nav_arrow.png") top center no-repeat;
}
#header #nav ul li.selected a {
  color: #f7941e;
}
#sub_head {
  padding-top: 20px;
}
#sub_head h1 {
  font-weight: lighter;
  color: #fff;
  font-size: 50px;
  line-height: 1.05em;
  margin-left: 45px;
  margin-top: 15px;
  text-shadow: 3px 3px 2px #000;
}
#sub_head #slideshow {
  text-align: center;
}

#sub_head #slideshow > div{
}

#sub_head #slideshow img {
  width: 400px !important;
  border: 20px solid #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(6.4deg);
  -webkit-backface-visibility: hidden;
  -moz-transform: rotate(6.4deg);
  -ms-transform: rotate(6.4deg);
  -o-transform: rotate(6.4deg);
  transform: rotate(6.4deg);

  width: 450px;

  position: relative;
  left: -20px;
}
#slideshow_meta_wrap.no_slideshow {
  margin-top: 40px;
}

#slideshow ul li {
  max-width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#slideshow img {
  width: 400px !important;
}

#slideshow_meta_wrap {
  background: url("orange_dots_bg.png");
  padding-top: 65px;
  padding-bottom: 55px;
  font-family: 'gotham_mediumregular';
}
#slideshow_meta_wrap #slideshow_caption {
  font-size: 58px;
  color: #fff;
  text-transform: uppercase;
  /*height: 66px;*/
  line-height: 66px;
  font-weight: bold;
}
#slideshow_meta_wrap #slideshow_nav ul {
  list-style-type: none;
  padding-left: 0;
  overflow: auto;
  margin-left: 0;
}
#slideshow_meta_wrap #slideshow_nav {
  list-style-type: none;
  padding-left: 0;
  overflow: auto;
  margin-left: 0;
}
#slideshow_meta_wrap #slideshow_nav li {
  float: left;
  padding: 4px;
  width: 48px;
  height: 54px;
/*  background: #0f0;
*/
  background: url("hex-1.png") center no-repeat;
  margin: 0 10px;
}
#slideshow_meta_wrap #slideshow_nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
#slideshow_meta_wrap #slideshow_nav li a:hover, #slideshow_meta_wrap #slideshow_nav li a:active, #slideshow_meta_wrap #slideshow_nav li a:visited, #slideshow_meta_wrap #slideshow_nav li a:focus {
  text-decoration: none;
  border: none;
  outline: 0;
}

#slideshow_meta_wrap #slideshow_nav li.slide1 {
  background: url("hex-1.png") center no-repeat;
}
#slideshow_meta_wrap #slideshow_nav li.slide2 {
  background: url("hex-1.png") center no-repeat;
}
#slideshow_meta_wrap #slideshow_nav li.activeSlide {
  background: url("hex-1-i.png") center no-repeat;
}

#slideshow_meta_wrap #slideshow_nav li.slide2 {
  background: url("hex-2.png") center no-repeat;
}
#slideshow_meta_wrap #slideshow_nav li.slide2.activeSlide {
  background: url("hex-2-i.png") center no-repeat;
}

#slideshow_meta_wrap #slideshow_nav li.slide3 {
  background: url("hex-3.png") center no-repeat;
}
#slideshow_meta_wrap #slideshow_nav li.slide3.activeSlide {
  background: url("hex-3-i.png") center no-repeat;
}

#slideshow_meta_wrap #slideshow_nav li.slide4 {
  background: url("hex-4.png") center no-repeat;
}
#slideshow_meta_wrap #slideshow_nav li.slide4.activeSlide {
  background: url("hex-4-i.png") center no-repeat;
}

#slideshow_meta_wrap #slideshow_nav li.slide5 {
  background: url("hex-5.png") center no-repeat;
}
#slideshow_meta_wrap #slideshow_nav li.slide5.activeSlide {
  background: url("hex-5-i.png") center no-repeat;
}

#slideshow_meta_wrap #slideshow_nav li.slide6 {
  background: url("hex-6.png") center no-repeat;
}
#slideshow_meta_wrap #slideshow_nav li.slide6.activeSlide {
  background: url("hex-6-i.png") center no-repeat;
}

#slideshow_meta_wrap #slideshow_nav li.slide7 {
  background: url("hex-7.png") center no-repeat;
}
#slideshow_meta_wrap #slideshow_nav li.slide7.activeSlide {
  background: url("hex-7-i.png") center no-repeat;
}


#slideshow_meta_wrap #slideshow_gallery .span2 div {
  border: 3px solid #fff;
}
#slideshow_meta_wrap #slideshow_gallery .row {
  margin-bottom: 30px;
}
#page_content_wrap {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}
#page_content_wrap ul.page_content_nav {
  margin: 0;
  list-style-type: none;
}
#page_content_wrap ul.page_content_nav li {
  padding: 10px 0;
  margin: 5px 0;
}
#page_content_wrap ul.page_content_nav li a {
  text-transform: uppercase;
  font-family: 'gotham_bookregular';
  color: #f7941e;
  font-weight: bold;
}
#page_content_wrap ul.page_content_nav li a:hover {
  color: #ad690e;
  text-decoration: none;
}
#page_content_wrap ul.page_content_nav li.active {
  background: #f7941e;
  text-indent: 11px;
  position: relative;
  left: -11px;
}
#page_content_wrap ul.page_content_nav li.active a {
  color: #fff;
}
#page_content_wrap #page_main {
  padding-top: 5px;
}
#page_content_wrap #page_main.contact_form {
  font-family: 'gotham_bookregular';
  background: #ececec;
  background: url("services_bg.png");
}
#page_content_wrap #page_main.contact_form > p {
  margin-left: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}
#page_content_wrap #page_main.contact_form form input,
#page_content_wrap #page_main.contact_form form textarea {
  border: 0;
  padding: 15px 0;
  margin-bottom: 30px;
  border-radius: 0;
  font-family: 'gotham_bookregular';
}
#page_content_wrap #page_main.contact_form form div.form_field {
  margin: 0 30px 0 30px;
}
#page_content_wrap #page_main.contact_form form input#name {
  width: 360px;
  padding-left: 20px;
  padding-right: 20px;
}
#page_content_wrap #page_main.contact_form form input#email {
  width: 140px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  margin-right: 40px;
}
#page_content_wrap #page_main.contact_form form input#phone {
  width: 140px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}
#page_content_wrap #page_main.contact_form form textarea#message {
  width: 360px;
  padding-left: 20px;
  padding-right: 20px;
}
#page_content_wrap #page_main.contact_form form input#submit {
  background: #f7941e;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  font-family: 'gotham_mediumregular';
}
#services_wrap {
  background: #ececec;
  background: url("services_bg.png");
  padding-top: 65px;
  padding-bottom: 65px;
}
#services_wrap .span3 {
  background: #cd7b17;
  background: url("dark_orange_dots_bg.png");
  height: 192px;
  color: #fff;
  text-align: center;
  display: table;
  font-weight: bold;
}
#services_wrap a {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 27px;
  font-weight: bold;
  padding: 0 35px;
  text-transform: uppercase;
  line-height: 1.3em;
  color: white;
}
#services_wrap a:hover {
  color: white;
  text-decoration: none;
  /*text-shadow: 1px 1px 1px black;*/
}
footer {
  padding-top: 45px;
  color: #b4b4b4;
  text-shadow: 3px 3px 2px #000;
}
footer #footer_contact p > a.email_link {
  color: #b4b4b4;
  text-shadow: 3px 3px 2px #000;
}
footer #footer_contact p > a.email_link:hover {
  color: #f7941e;
  text-decoration: none;
}
footer #footer_contact,
footer #footer_map {
  background: url("footer_dark_bg.png");
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 268px;
  font-size: 14px;
  font-family: 'gotham_bookregular';
}
footer #footer_contact > *,
footer #footer_map > * {
  margin-left: 45px;
  margin-right: 45px;
}
footer #footer_contact h4,
footer #footer_map h4 {
  font-family: 'gotham_mediumregular';
  color: #fff;
  border-bottom: 2px solid #fff;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
footer #footer_logo {
  text-align: center;
  padding-top: 96px;
}
footer #footer_logo img {
  padding-left: 2px;
}
footer #sub_footer {
  margin-top: 40px;
  border-top: 1px solid #6c6c6c;
  text-transform: uppercase;
  color: #b4b4b4;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 12px;
}
footer #sub_footer a {
  color: #b4b4b4;
  text-shadow: 3px 3px 2px #000;
}
footer #sub_footer a:hover {
  color: white;
  text-decoration: none;
}
footer #sub_footer #footer_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
footer #sub_footer #footer_nav li {
  float: left;
  padding: 0 5px;
}
footer #sub_footer #copyright {
  text-align: right;
  text-shadow: 3px 3px 2px #000;
}
/* wide screen */
@media (min-width: 1200px) {
  #sub_head {
    padding-top: 20px;
  }
  #sub_head h1 {
    font-size: 55px;
    line-height: 1.05em;
    margin-left: 65px;
    margin-top: 15px;
  }
  #slideshow_meta_wrap {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  #slideshow_meta_wrap #slideshow_caption {
    font-size: 58px;
  }
  #slideshow_meta_wrap #slideshow_nav ul {
    padding-left: 62px;
  }
  #slideshow_meta_wrap #slideshow_nav ul li {
    padding: 6px;
  }
  #page_content_wrap #page_main.contact_form form div.form_field {
    margin: 0 30px 0 30px;
  }
  #page_content_wrap #page_main.contact_form form input#name {
    width: 470px;
  }
  #page_content_wrap #page_main.contact_form form input#email {
    width: 195px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-right: 40px;
  }
  #page_content_wrap #page_main.contact_form form input#phone {
    width: 195px;
  }
  #page_content_wrap #page_main.contact_form form textarea#message {
    width: 470px;
  }
  #page_content_wrap #page_main.contact_form form input#submit {
    background: #f7941e;
  }
  #services_wrap {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  #services_wrap p {
    font-size: 30px;
    padding: 0 40px;
  }
  footer {
    padding-top: 45px;
  }
  footer #footer_contact > *,
  footer #footer_map > * {
    margin-left: 95px;
    margin-right: 95px;
  }
  footer #sub_footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 14px;
  }
}
/* tablet  -- 292 */
@media (min-width: 768px) and (max-width: 979px) {
  #header {
    padding-top: 15px;
  }
  #header #nav ul li {
    padding-top: 31px;
    margin-top: -37px;
  }
  #sub_head {
    padding-top: 20px;
  }
  #sub_head h1 {
    font-size: 40px;
    margin-left: 0px;
  }
  #sub_head #slideshow img {
    border: 15px solid #fff;
    position: relative;
    left: -30px;
  }
  #slideshow_meta_wrap {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  #slideshow_meta_wrap #caption {
    width: 228px;
  }
  #slideshow_meta_wrap #slideshow_caption {
    font-size: 30px;
    text-align: right;
  }
  #slideshow_meta_wrap #slideshow_nav {
    width: 476px;
  }
  #slideshow_meta_wrap #slideshow_nav ul {
    padding-left: 0px;
  }
  #slideshow_meta_wrap #slideshow_nav ul li {
    padding: 6px;
  }
  #page_content_wrap #page_main.contact_form > p {
    margin-left: 20px;
    margin-top: 20px;
  }
  #page_content_wrap #page_main.contact_form form div.form_field {
    margin: 0 20px 0 20px;
  }
  #page_content_wrap #page_main.contact_form form input#name,
  #page_content_wrap #page_main.contact_form form input#email,
  #page_content_wrap #page_main.contact_form form input#phone,
  #page_content_wrap #page_main.contact_form form textarea#message {
    width: 272px;
  }
  #page_content_wrap #page_main.contact_form form input#submit {
    background: #f7941e;
  }
  #services_wrap {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  #services_wrap .span3 {
    height: 162px;
    font-weight: bold;
  }
  #services_wrap p {
    font-size: 20px;
    padding: 0 15px;
  }
  footer #footer_contact > *,
  footer #footer_map > * {
    margin-left: 10px;
    margin-right: 10px;
  }
  footer #sub_footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }
  footer #sub_footer .span5 {
    width: 724px;
  }
  footer #sub_footer .span5 #footer_nav li {
    float: none;
    display: inline-block;
  }

}
/* phone landscape */
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  #header {
    padding-top: 15px;
  }
  #header #logo {
    text-align: center;
    padding-bottom: 15px;
  }
  #header #nav {
    border-bottom: none;
    border-top: none;
  }
  #header #nav ul {
    border-top: 2px solid #f7941e;
    border-bottom: 2px solid #f7941e;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
  }
  #header #nav ul li {
    padding: 10px;
    font-size: 14px;
    margin-top: 0px;
    float: none;
  }
  #header #nav ul li.selected {
    text-decoration: none;
    background: none;
  }
  #header #nav ul li a {
    padding-bottom: 3px;
  }
  #header #nav ul li.active {
    text-decoration: none;
    background: none;
  }
  #sub_head {
    padding-top: 20px;
  }
  #sub_head h1 {
    font-size: 34px;
    text-align: center;
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #sub_head #slideshow {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #sub_head #slideshow > div {
    min-height: 350px;
    margin-left: 20px;
  }

  #sub_head #slideshow img {
    border: 20px solid #fff;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari 3.1+ */

    -moz-transform: rotate(0deg);
    /* Firefox 3.5-15 */

    -ms-transform: rotate(0deg);
    /* IE 9 */

    -o-transform: rotate(0deg);
    /* Opera 10.50-12.00 */

    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera 12.50+ */

    position: relative;
    left: 0px;
  }

  #slideshow ul {
    margin-left: 0;
  }

  #slideshow ul li {
  }

  #slideshow_meta_wrap {
    background: none;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
  #slideshow_meta_wrap #slideshow_caption {
    background: url("orange_dots_bg.png");
    font-size: 42px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    height: 66px;
    line-height: 66px;
    font-weight: bold;
    margin-bottom: 0;
  }
  #slideshow_meta_wrap #slideshow_nav ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 0;
    overflow: auto;
    margin-left: 0;
    text-align: center;
  }

  #slideshow_meta_wrap #slideshow_nav {
    padding-bottom: 30px;
  }

  #slideshow_meta_wrap #slideshow_nav ul li {
    float: none;
    display: inline-block;
    width: 10%;
  }
  #page_content_wrap {
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #page_content_wrap > * {
    margin-left: 20px;
    margin-right: 20px;
  }
  #page_content_wrap ul.page_content_nav {
    background: #ececec;
    background: url("services_bg.png");
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #page_content_wrap ul.page_content_nav li {
    text-indent: 10px;
  }
  #page_content_wrap #page_main.contact_form > p {
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 20px;
  }
  #page_content_wrap #page_main.contact_form form div.form_field {
    margin: 0 20px 0 20px;
  }
  #page_content_wrap #page_main.contact_form form input#name,
  #page_content_wrap #page_main.contact_form form input#email,
  #page_content_wrap #page_main.contact_form form input#phone,
  #page_content_wrap #page_main.contact_form form textarea#message {
    width: 320px;
  }
  #page_content_wrap #page_main.contact_form form input#submit {
    background: #f7941e;
  }
  #services_wrap {
    padding-top: 35px;
    margin: 0;
    margin-top: 30px;
    padding-bottom: 25px;
  }
  #services_wrap .span3 {
    height: 139px;
    margin-bottom: 20px;
  }
  #services_wrap #services {
    margin-left: 20px;
    margin-right: 20px;
  }
  #services_wrap p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    padding: 0 35px;
    text-transform: uppercase;
    line-height: 1.3em;
  }
  footer {
    padding-top: 0px;
  }
  footer #footer_contact,
  footer #footer_map {
    min-height: 0;
    background: none;
  }

  footer #footer_contact h4,
  footer #footer_map h4 {
    border-top: 2px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #sub_footer {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  #sub_footer .span5 #footer_nav li {
    font-size: 14px;
    float: none;
    display: inline-block;
    padding: 0 10px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

  #sub_footer .span5 #footer_nav li {
    padding: 0 0px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #sub_footer .span5 #footer_nav li {
    padding: 0 0px;
  }
}

/* phone portrait */
@media (max-width: 480px) {

  #slideshow_nav {
    display: none;
  }

  body.mobile {
    padding: 0px;
  }

  body.mobile #header {
    padding: 0;
  }

  body.mobile #header #logo {
    margin-top: 20px;
  }

  #header {
    padding-top: 15px;
  }

  #sub_head {
    padding-bottom: 0px;
  }

  #sub_head #slideshow img {
    border: none;
    box-shadow: none;
    outline: 5px solid #fff;
  }

  #slideshow {
    padding: 20px;
    padding-bottom: 0;
  }

  #slideshow_meta_wrap {
    background: none;
    padding-top: 0;
  }

  #slideshow_meta_wrap #slideshow_caption {
    font-size: 22px;
    background: url("orange_dots_bg.png") repeat scroll 0 0 transparent;
  }

  #sub_head #slideshow > div {
    min-height: 240px;
    margin-left: 0px;
  }

  #slideshow_meta_wrap #slideshow_nav ul li {
    width: 10%;
  }

  #slideshow_meta_wrap #slideshow_nav {
  }

  #header #logo a {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }

  #header #nav ul {
    margin: 0;
    padding: 0;
  }

  #header #nav ul {
    background: #F7941E;
  }

  #header #nav ul li {
    padding: 4px;
    font-size: 10px;
    margin-right: 20px;
  }

  #header #nav ul li a {
    color: white;
    text-shadow: 1px 1px 2px #000;
  }

  #header #nav ul li.selected a {
    color: white;
  }

  #sub_head {
    padding-top: 10px;
  }
  #sub_head h1 {
    font-size: 23px;
  }
  footer #footer_contact > *,
  footer #footer_map > * {
    margin-left: 20px;
    margin-right: 20px;
  }
  footer #sub_footer {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #page_content_wrap #page_main.contact_form > p {
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 20px;
  }
  #page_content_wrap #page_main.contact_form form div.form_field {
    margin: 0 20px 0 20px;
  }
  #page_content_wrap #page_main.contact_form form input#name,
  #page_content_wrap #page_main.contact_form form input#email,
  #page_content_wrap #page_main.contact_form form input#phone,
  #page_content_wrap #page_main.contact_form form textarea#message {
    width: 160px;
    margin-bottom: 20px;
  }
  #page_content_wrap #page_main.contact_form form input#submit {
    background: #f7941e;
  }
  #sub_footer .span5 #footer_nav li {
    padding: 0 0px;
  }
}



#services_wrap .span3:hover {
  background-image: url('orange_dots_bg.png');
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}
.projects img:hover {
  opacity: 0.6;
  cursor: pointer;
}
