<%#= render :partial => "/refinery/content_page" %>

<div id="slideshow_meta_wrap">
  <div class="container" id="slideshow_meta">
    <div class="row">
      <div class="span6" id="slideshow_nav">
        <% page = Refinery::Page.find_by_path("contact") %>
        <ul>
          <li class="activeSlide"></li>
          <% 4.times do |i| %>
            <li class="slide<%=i+2%>"></li>
          <% end %>
        </ul>
      </div>
      <div class="span6" id="caption">
          <p id="slideshow_caption">Contact Us</p>
      </div>
    </div>
  </div>
</div>

<div id="page_content_wrap">
  <div class="container" id="page_content">
    <div class="row">
      <%=raw @page.content_for(:side_body) %>
    </div>
  </div>
</div>
